{% extends 'mail/index.html' %}

{%- block page_header_text -%}
Fax sent successfully!
{%- endblock page_header_text -%}

{%- block page_upper_text -%}
Your fax was sent. Now you can click on button below and review all your past faxes not older
then <b>{{ 'S3_EXPIRATION_DAYS' | app_settings_item}}</b> days.
{%- endblock page_upper_text -%}

{%- block page_button_url -%}
{{ url_for('views.dashboard', token=token, _external=True) }}
{%- endblock page_button_url -%}

{%- block page_button_text -%}
Review past faxes
{%- endblock page_button_text -%}

{%- block page_bottom_text -%}
{%- endblock page_bottom_text -%}
